parameters:
    level: 9
    paths:
        - 'php-src'
    excludePaths:
        # Exclude these files that are OK
        - 'php-src/Http/Input.php'
        # tests
        - 'php-tests/bootstrap.php'
        - 'php-tests/DatabaseTestCase.php'
        - 'php-tests/TestCase.php'
    bootstrapFiles:
        - 'php-tests/bootstrap.php'
    ignoreErrors:
        # strval, intval, floatval, boolval
        - '#Parameter \#1 \$va[rl]u?e? of function [sibf][tnol][rtoo][la]?t?val expects#'
