parameters:
    database:
        driver: mysql
        host: libs-oauth-mysql
        dbname: testing_one
        user: root
        password: root_somewhere

extensions:
    oauth2: Picabo\OAuth2\DI\Extension

php:
    date.timezone: Europe/Prague

database:
    default:
        dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
        user: %database.user%
        password: %database.password%
        debugger: true

session:
    autoStart: false

oauth2:
    accessTokenLifetime: 3600
    refreshTokenLifetime: 36000
